@media (max-width: 567px){
    .price{
        min-height: 200px;
        &__wrapper{
            row-gap: 30px;
            &-img{
                width: 80px;
            }
            &-btn{
                padding: 13px;
                font-size: 12px;
            }
        }
    }
}
@media (max-width: 400px){
    .price{
        &__wrapper{
            row-gap: 30px;
            &-img{
                width: 70px;
            }
            &-descr{
                font-size: 12px;
            }
            &-btn{
                padding: 10px;
            }
        }
    }
}