.done{
    padding: 40px 0 20px 0px;
    min-height: 300px;
    background: url('../img/done/second_bg.png') center (center / cover) no-repeat;
    &__title{
        color: #EFEFEF;
        text-align: center;
        font-size: 25px;
        font-weight: 300;
    }
    &__wrapper{
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
        &-item{
            width: 170px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &_img{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                padding: 30px;
                border-radius: 100%;
                background: #B4E2FF;
            }
            &_text{
                font-size: 14px;
                text-align: center;
                margin-top: 10px;
                color: #EFEFEF;
                font-weight: 300;
            }
        }
    }
}
@import './media-done';